@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&family=Nunito+Sans:wght@300&display=swap');

html {
    font-size: 24px;
}

body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    font-family: 'Kreon', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 6px;
}

h2 {
    font-size: 2rem;
    font-family: 'Kreon', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

nav {
    background-color: black;
    display: inline-block;
    text-align: right;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navitem {
    color: white;
    font-size: 24px;
    text-decoration-line: none;
    text-transform: uppercase;
    padding-right: 10px;
}

.navitem:hover {
    font-weight: bold;
}

.page-heading {
    display: inline-block;
    width: 70%;
    position: relative;
}

.side-filler {
    display: inline-block;
    width: 13%;
}

#hero-image {
    width: 100%;
}

.hero-image-ovarlay-text {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image-ovarlay-text p {
    margin-top: 0px;
}

.center-content-div {
    display: inline-block;
    width: 70%;
}

.center-content-div p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}

.image-and-text-div {
    display: inline-block;
    width: 70%;
}

.content-left {
    float: left;
    padding: 1%;
    width: 47.5%;
}

.content-right {
    width: 47.5%;
    padding: 1%;
    float: right;
}

.content-right h2 {
    text-align: left;
}


footer {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}