@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&family=Nunito+Sans:wght@300&display=swap');

html {
    font-size: 24px;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-weight: 300;
}

body {
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kreon', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 0;
    line-height: 1em;
    text-indent: 0.5rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    margin-top: 0.4rem;
}

nav {
    background-color: #000000;
    text-align: right;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

nav a {
    color: #ffffff;
    font-size: 0.8rem;
    text-decoration-line: none;
    text-transform: uppercase;
    padding-right: 10px;
}

nav a:hover {
    font-weight: bold;
}

footer {
    background-color: #000000;
    display: block;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff;
    padding: 0.3rem;
}

.page-header {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.page-header img {
    max-width: 100%;
}

.hero-image-ovarlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image-ovarlay-text p {
    margin: 0;
}

.main-info {
    text-align: center;
}

.highlights {
    display: flow-root;
}

.highlights .left {
    float: left;
    width: 50%;
}

.highlights .right {
    float: right;
    width: 50%;
}

.highlights-text {
    display: inline-block;
    width: 50%;
}

.highlights-text h2, .highlights-text p {
    padding-left: 1rem;
    padding-right: 1rem; 
}

.food-menu {
    text-align: center;
}

.food-menu h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.food-items li {
    list-style-type: none;
    text-indent: -1rem;
    margin-bottom: 1rem;
}

